PDF_ExcelRetriever.json
{
  "name": "PDF_ExcelRetriever",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1000,
        100
      ],
      "id": "e61f25f0-fce7-42f7-a0b9-23339646f50b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        420,
        -60
      ],
      "id": "4a11efbb-e9d3-46bf-895f-c1d36d107967",
      "name": "When chat message received",
      "webhookId": "5884b85f-a442-4309-bb1f-1723c44ed366"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        640,
        -60
      ],
      "id": "24a45317-cebe-4485-8f65-24e442e91ef4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        180
      ],
      "id": "6d055641-dc07-495f-a17a-b177cb84fc54",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tTMkrEmzMpSUZDtF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        720,
        180
      ],
      "id": "bd1e411c-62c9-46eb-b5f3-75e6a81d9414",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "3JHj7eqAqcBrJegM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        940,
        240
      ],
      "id": "797c58e2-4968-481d-8487-cc0cc0657f90",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "RZ8xODpxnu8GUvHo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        280
      ],
      "id": "c643e7ee-2c11-4274-bed0-aee471367945",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tTMkrEmzMpSUZDtF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        400
      ],
      "id": "bae043da-a2ba-42b8-bf8e-75c4dfe08d66",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tTMkrEmzMpSUZDtF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "69deabc5-90c6-467c-aaf2-0f683111534c",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2240,
        1100
      ],
      "credentials": {
        "openAiApi": {
          "id": "tTMkrEmzMpSUZDtF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File Id & Field type').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "9a2d1914-0b94-4d06-b13f-80fe620feba6",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        1180
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LN6J2ydLAQQWjN1j",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "17bdef09-094c-481a-88cf-e0cefde7abf6",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1480,
        1320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "e8428eb9-ce27-4369-b1cc-531294734acf",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2740,
        1240
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "fddc883b-06df-4290-b748-032522242a98",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2220,
        880
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RZ8xODpxnu8GUvHo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File Id & Field type').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec824c57-4a73-4aab-80e3-5c066d19ea20"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc6d4a54-8d55-48be-b278-8cb31ecdebcc",
                    "leftValue": "={{ $('Set File Id & Field type').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7cf76e06-5418-4a5a-a6b0-08441e6cdcc8",
                    "leftValue": "={{ $('Set File Id & Field type').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1060,
        1160
      ],
      "id": "9d43d9c6-f128-46bf-90dc-a1a3ccff5a0a",
      "name": "Switch"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "6d5c5653-c418-447b-a577-d26305be5c84",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1660,
        1140
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "0d94c08c-d1e5-4aae-8d1a-715d40f9c669",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1900,
        1220
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File Id & Field type').first().json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "1b81d021-aadc-4f80-b919-e7cf87162c10",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2380,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "66d95909-55ec-4a68-94eb-515403e93089",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        1200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RZ8xODpxnu8GUvHo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "7777",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1idu87zzA57ozNVxWQ8-Ix2tGapaZtMBY",
            "mode": "list",
            "cachedResultName": "n8nPDF_Retriever",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1idu87zzA57ozNVxWQ8-Ix2tGapaZtMBY"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        1200
      ],
      "id": "cf5b548a-400b-43ac-9908-bf383a3fd346",
      "name": "Search file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LN6J2ydLAQQWjN1j",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79aea1ab-9a57-464a-8379-f69019c116a0",
              "name": "file_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "957054e1-3c82-4e29-a1bb-2c6249a182aa",
              "name": "file_type",
              "value": "={{$json.mimeType}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1200
      ],
      "id": "0904091f-d1cd-490b-a82d-5a1a19bbf798",
      "name": "Set File Id & Field type"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1480,
        960
      ],
      "id": "ab1ccde1-b48f-41db-a4cf-9c5089173cd7",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1480,
        1140
      ],
      "id": "3309ae53-f8c5-4e5e-a5b0-a347c9cd72b4",
      "name": "Extract from Sheet"
    },
    {
      "parameters": {
        "content": "# ChatBot\n## When you ask a question, the chatbot retrieves the most relevant vector data from Supabase to generate a response",
        "height": 760,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -220
      ],
      "typeVersion": 1,
      "id": "3a6a55c7-4f80-451a-a91a-bdca3b871145",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Upload File to Supabase \n## This part uploads your search file and detects its file type to determine the appropriate processing flow.  \n## It then converts the file content into vectors and stores them in Supabase",
        "height": 980,
        "width": 2720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        640
      ],
      "typeVersion": 1,
      "id": "efc60b13-c094-4892-9a9b-abd94ea4fcce",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search file": {
      "main": [
        [
          {
            "node": "Set File Id & Field type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Id & Field type": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2488d93b-ddef-4e4f-b8f1-2c2a860f0724",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ec6f4120fd4355d6ae5690b7b0dac9285f0c30109e7ab32794bb692a46b1689"
  },
  "id": "xAau7DhXl2p6DI0z",
  "tags": []
}